/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 7:24:04 PM
    Author     : SanghviR
*/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../img/loading.gif') 
        50% 50% 
        no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.ui-dialog-contain {
    //width: 92.5%;
    max-width: 100%;
    margin: 10% auto 15px auto;
    padding: 0;
    position: relative;
    top: -15px;
}

.curvedButton {
    border-radius: 40px !important;
}

/*.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {

    background-image: url("../img/bodyBackground.png");
}*/

/*.ui-page-theme-a .ui-btn ,ui-page-theme-a .ui-btn:active{
    background-color: #3498db;
    text-shadow: none;
    color: white;
}*/

.mtHeader{
    //background-image: url('../img/SupportLogoBackground.png');
    vertical-align: middle;
    text-align: center;
    
}

.ui-header .ui-title{
    font-size: 1em;
    white-space: normal;
}

.ui-panel-inner {
    padding: 0;
}

.paneldiv{
    margin: 1.5em;
}