<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd" 
       xmlns:ns1="http://www.springframework.org/schema/context">

    <import resource="classpath:employee.xml"></import>
    <import resource="classpath:inher.xml"></import>
    <bean id="scopeBean" class="com.simple.spring.ScopeBean" scope="prototype"></bean>
</beans>